<form [formGroup]="bookForm">
  <mat-card>
    <mat-form-field *ngFor="let prop of getBookProperties()">
      <mat-label >{{prop | titlecase}}</mat-label>
      <input matInput formControlName="{{prop}}" required>
      <mat-error *ngIf="!bookForm.controls[prop].valid">
        Please enter a valid value
      </mat-error>
    </mat-form-field>

    <mat-action-row>
      <button type="button" mat-raised-button color="primary" (click)="save()">Save</button>
      <button type="button" mat-raised-button color="warn" (click)="close()">Close</button>
    </mat-action-row>
  </mat-card>
</form>
